<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean name="student" class="com.dl.valueaselement.Student">
		<constructor-arg><value>105</value></constructor-arg>
		<constructor-arg><value>CSE</value></constructor-arg>
		<constructor-arg><value>JNTU</value></constructor-arg>
	</bean>
	
	<bean id="location" class="com.dl.valueaselement.Location">
		<constructor-arg ><value>Hyd</value></constructor-arg>
		<constructor-arg ><value>TG</value></constructor-arg>
		<constructor-arg><ref bean="student"></ref></constructor-arg>
	</bean>
	
</beans>